@use '../../../../scss/mixins';

.invoice_terms {
  position: relative;
  margin-top: 1.6rem;
  display: grid;
  gap: 2.5rem;
}

.invoice_date_calendar {
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  z-index: 100;
}

.label {
  margin-bottom: 0.9rem;
  color: var(--text-secondary);
  font-size: 1.3rem;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: -0.01rem;
}

.invoice_date_input {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2rem 1.5rem;
  max-height: 4.8rem;
  background-color: var(--primary);
  border: 0.1rem solid var(--input-border);
  border-radius: 0.4rem;
  cursor: pointer;

  p {
    color: var(--text-primary);
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    font-weight: 700;
  }
}

@include mixins.breakpoint('md') {
  .invoice_terms {
    grid-template-columns: 1fr 1fr;
  }

  .invoice_date_calendar {
    position: absolute;
    top: 8.5rem;
    left: 0;
    width: calc(50% - 1.25rem);
    z-index: 100;
  }
}
