@use './../../../scss/mixins';

.container {
  position: relative;
  width: fit-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  gap: 1.5rem;
  padding: 2.4rem;
  min-width: 14.2rem;
  background-color: var(--primary);
  border-radius: 0.8rem;
}

.hidden {
  display: none;
}

@include mixins.breakpoint('sm') {
  .content {
    min-width: 19.2rem;
  }
}
