.container {
  position: relative;

  input {
    padding: 2.4rem 1.6rem 1.8rem;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.25;
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--cool-grey);
    transition: border-color 0.3s;
    caret-color: var(--accent);

    &::placeholder {
      color: var(--text-fourth);
    }

    &:focus {
      outline: none;
      border-color: var(--accent);
    }

    &:invalid[data-focused='true'] {
      border-color: var(--fire-opal);

      & + span {
        visibility: visible;
      }
    }
  }

  span {
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    line-height: 1.25;
    color: var(--fire-opal);
    visibility: hidden;
  }
}
