@use '../../../scss/mixins';

.items {
  display: grid;
  gap: 4.9rem;
  margin-top: 2.2rem;

  @include mixins.breakpoint('sm') {
    gap: 1.8rem;
    margin-top: 0.4rem;
  }
}

.item {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr;
  align-items: last baseline;
  gap: 2.5rem 2rem;

  &_name {
    grid-column: 1/-1;
  }

  .delete_icon {
    justify-self: end;
    margin-right: 0.7rem;
    font-size: 1.8rem;
    color: var(--cool-grey);
    transition: 0.3s color;
    cursor: pointer;

    &:hover {
      color: var(--fire-opal);
    }
  }

  .total input {
    padding-inline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @include mixins.breakpoint('sm') {
    grid-template-columns: 5fr 2fr 3fr 2fr 1fr;
    gap: 1.6rem;
    align-items: center;

    &_name {
      grid-column: auto;
    }
  }
}
