.back_button {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  margin-bottom: 2.6rem;
  background-color: transparent;
  color: var(--text-primary);
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.025rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
