@use '../../../scss/variables';
@use '../../../scss/mixins';

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--chinese-black);
  opacity: 0.7;
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 7.2rem;
  left: 0;
  width: 100%;
  max-height: 100vh;
  background-color: var(--invoice-modal);
  z-index: 1000;
  overflow: scroll;

  @include mixins.breakpoint('sm') {
    max-width: 61.6rem;
  }

  @include mixins.breakpoint('md') {
    border-radius: 0 2rem 2rem 0;
  }

  @include mixins.breakpoint('lg') {
    top: 0;
    left: variables.$horizontal-nav-width;
  }
}

.modal_content {
  padding: 3.3rem 2.4rem 0;

  @include mixins.breakpoint('sm') {
    padding: 5.9rem 5.6rem 0;
  }

  .heading {
    margin-bottom: 2.2rem;
    color: var(--text-primary);
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: -0.05rem;
    font-weight: 700;

    @include mixins.breakpoint('sm') {
      margin-bottom: 4.6rem;
    }
  }

  .section_name {
    color: var(--violet);
  }

  .bill_from_box,
  .bill_to_box_address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2.3rem;

    .street,
    .country {
      grid-column: 1/-1;
    }

    @include mixins.breakpoint('sm') {
      grid-template-columns: repeat(3, 1fr);

      .country {
        grid-column: auto;
      }
    }
  }

  .bill_from_box {
    margin-block: 2.4rem 4.1rem;

    @include mixins.breakpoint('sm') {
      margin-bottom: 4.9rem;
    }
  }

  .bill_to_box {
    display: grid;
    row-gap: 2.5rem;
    margin-block: 2.4rem 6.9rem;

    @include mixins.breakpoint('sm') {
      margin-bottom: 2.7rem;
    }
  }

  .errors {
    display: none;
    margin-top: 3.3rem;

    .error {
      color: var(--fire-opal);
      font-size: 1.2rem;
      line-height: 1.5;
      font-weight: 600;
      letter-spacing: -0.021rem;
    }
  }

  div[data-error='true'] {
    display: block;
  }
}
