@use '../../../scss/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8rem 2.4rem;
  height: 100vh;
  width: 100%;
  background-color: var(--secondary);
}

.auth_box {
  padding: 2.4rem 2.4rem 3.2rem;
  background-color: var(--primary);
  width: 100%;
  max-width: 40rem;
  border-radius: 1rem;
}

@include mixins.breakpoint('sm') {
  .auth_box {
    padding: 3.2rem;
  }
}
