@use '../../../scss/mixins';

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'id name'
    'date status'
    'amount status';
  padding: 2.5rem 2.4rem 2.2rem;
  background-color: var(--primary);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 0.8rem;

  .id {
    grid-area: id;
    color: var(--text-primary);
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    font-weight: bold;
    text-transform: uppercase;

    span {
      color: var(--ube);
    }
  }

  .name {
    grid-area: name;
    text-align: end;
    color: var(--text-third);
  }

  .date {
    grid-area: date;
    margin-top: 2.4rem;
  }

  .amount {
    grid-area: amount;
    margin-top: 0.9rem;
  }

  .status {
    grid-area: status;
    margin-top: 2.4rem;
    justify-self: end;
  }
}

@include mixins.breakpoint('sm') {
  .wrapper {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 'id date name amount status';
    column-gap: 2.4rem;
    justify-items: center;
    align-items: center;

    .date,
    .amount,
    .status {
      margin-top: 0;
    }

    .name,
    .date {
      text-align: center;
    }
  }
}
