@use '../../../scss/mixins';

.container {
  display: grid;
  place-content: center;
  justify-items: center;
  padding: 4rem;
  height: 100vh;
  background-color: var(--primary);

  img {
    max-width: 24rem;
  }
}

.text_container {
  text-align: center;

  h1 {
    margin-top: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text-primary);
  }

  p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  button {
    margin-top: 2rem;
  }
}

@include mixins.breakpoint('sm') {
  .container img {
    max-width: 35rem;
  }

  .text_container {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}

@include mixins.breakpoint('lg') {
  .container img {
    max-width: 50rem;
  }

  .text_container h1 {
    margin-top: 5rem;
    font-size: 3.5rem;
  }
}
