@use '../../../scss/mixins';

.main {
  position: relative;
  padding: 3.3rem 2.4rem 15.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  color: var(--text-primary);
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.025rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.top_section,
.details {
  padding: 2.4rem;
  background-color: var(--primary);
  border-radius: 0.8rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

.top_section {
  margin-top: 3.1rem;

  .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 2.1rem 2.4rem;
    width: 100%;
    background-color: var(--primary);
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  }
}

@include mixins.breakpoint('sm') {
  .main {
    padding: 4.9rem 4rem 15.5rem;
  }

  .top_section {
    padding: 2rem 3.2rem;
  }
}

@include mixins.breakpoint('md') {
  .main {
    padding-block: 4.9rem;
  }

  .top_section {
    display: flex;
    justify-content: space-between;

    .status {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
    }

    .controls {
      position: static;
      display: flex;
      justify-content: flex-end;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.details {
  margin-top: 1.6rem;

  .id {
    margin-bottom: 0.7rem;
    color: var(--text-primary);
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    font-weight: 700;
    text-transform: uppercase;

    span {
      color: var(--ube);
    }
  }

  .address {
    margin-top: 3rem;
  }

  .recipient_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    margin-top: 3.1rem;

    .identities {
      grid-row: 1/3;
      grid-column: 2/3;
    }

    p[class*='primary'] {
      margin-top: 1.3rem;
    }

    .street {
      margin-top: 0.9rem;
    }
  }

  @include mixins.breakpoint('sm') {
    margin-top: 2.4rem;
    padding: 3.2rem;

    .sender_details {
      display: flex;
      justify-content: space-between;

      .address {
        margin-top: 0;
        text-align: end;
      }
    }

    .recipient_details {
      grid-template-columns: 2fr 2fr 3fr;

      .send_to {
        grid-row: 1/2;
        grid-column: 3/4;
      }
    }
  }
}

.modal {
  &_heading {
    color: var(--text-primary);
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: -0.05rem;
    font-weight: 700;
  }

  &_text {
    margin-top: 0.8rem;
    color: var(--cool-grey);
    line-height: 1.69;
  }

  &_controls {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-top: 2.2rem;
  }
}
