.primary {
  color: var(--text-primary);
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.025rem;
  font-weight: 700;
}

.secondary {
  color: var(--text-secondary);
  font-size: 1.3rem;
  line-height: 1.38;
  letter-spacing: -0.01rem;
  font-weight: 500;
}
