.container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.8rem 2rem 1.5rem;
  max-height: 4.8rem;
  background-color: var(--primary);
  border: 0.1rem solid var(--input-border);
  border-radius: 0.4rem;
}

.content {
  position: absolute;
  top: 6.3rem;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  z-index: 100;

  .option {
    padding: 1.5rem 2.4rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 0.1rem solid var(--input-border);
    }

    p {
      transition: color 0.3s;
    }

    &:hover p {
      color: var(--accent);
    }
  }
}

.hidden {
  display: none;
}
