.summary {
  margin-top: 4.7rem;
}

.item_list {
  padding: 3.3rem 3.2rem 3.9rem;
  background-color: var(--invoice-summary);
  border-radius: 0.8rem 0.8rem 0 0;

  .head,
  .item {
    display: grid;
    grid-template-columns: 5fr 1fr 2fr 2fr;
    column-gap: 2rem;
  }

  .item {
    margin-top: 3.2rem;
  }

  .qty {
    justify-self: center;
  }

  .qty,
  .price {
    color: var(--text-secondary);
  }

  .price,
  .total {
    justify-self: end;
  }
}

.amount_due {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 3rem;
  background-color: var(--invoice-summary-total);
  border-radius: 0 0 0.8rem 0.8rem;

  p[class*='secondary'] {
    color: var(--white);
  }

  .total_amount {
    color: var(--white);
    font-size: 2.4rem;
    letter-spacing: -0.05rem;
    font-weight: 700;
    line-height: 1;
  }
}
