@use '../../../scss/variables';
@use '../../../scss/mixins';

.wrapper {
  display: grid;
  place-content: center;
  width: 100%;
  height: calc(100vh - variables.$vertical-nav-height);

  @include mixins.breakpoint('lg') {
    height: 100vh;
  }
}

.loader {
  width: 25rem;
  height: 25rem;
  border-top: 0.5rem solid var(--violet);
  border-right: 0.5rem solid transparent;
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
