@use './../../../scss/mixins';

.container {
  padding: 3.2rem 2.4rem;

  @include mixins.breakpoint('md') {
    padding: 6.1rem 4.8rem;
  }

  @include mixins.breakpoint('lg') {
    padding-block: 7.7rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &_left_section {
    h1 {
      color: var(--text-primary);
      font-size: 2.4rem;
      line-height: 1;
      font-weight: 700;
      letter-spacing: -0.075rem;
    }
  }

  &_right_section {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }

  @include mixins.breakpoint('sm') {
    &_left_section h1 {
      font-size: 3.6rem;
      letter-spacing: -0.113rem;
    }

    &_right_section {
      gap: 4rem;
    }
  }
}

.invoices {
  display: grid;
  justify-content: center;
  row-gap: 1.6rem;
  margin-top: 3.2rem;

  .link {
    text-decoration: none;
  }
}

.no_invoices {
  display: grid;
  justify-items: center;
  margin-top: 6.2rem;
  text-align: center;
  max-width: 20.6rem;

  &_heading {
    margin-top: 4.2rem;
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.075rem;
    color: var(--text-primary);
  }

  &_text {
    margin-top: 2.3rem;

    span {
      font-weight: 700;
      cursor: pointer;
    }
  }

  @include mixins.breakpoint('sm') {
    margin-top: 20rem;
    max-width: 24rem;

    &_heading {
      margin-top: 6.6rem;
    }

    &_text {
      max-width: 19.3rem;
    }
  }

  @include mixins.breakpoint('xl') {
    margin-top: 14rem;
  }
}
