@use '../../../../scss/mixins';

.item_list_heading {
  color: var(--light-slate-gray);
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.038rem;
  font-weight: 700;
}

.add_item_btn {
  margin-top: 4.8rem;
  width: 100%;

  @include mixins.breakpoint('sm') {
    margin-top: 1.8rem;
  }
}

.head {
  display: grid;
  grid-template-columns: 5fr 1fr 3fr 2fr 1fr;
  gap: 1.6rem;
  margin-top: 1.4rem;

  :nth-child(3) {
    margin-left: 0.2rem;
  }
}
