@use '../../../scss/variables';

@mixin setColors($color) {
  div {
    background-color: $color;
  }

  p {
    color: $color;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.4rem;
  gap: 0.8rem;
  height: 4rem;
  border-radius: 0.6rem;

  div {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
  }

  p {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.paid {
  @include setColors(var(--eucalyptus));
  background-color: rgba(variables.$eucalyptus, 0.06);
}

.pending {
  @include setColors(var(--dark-orange));
  background-color: rgba(variables.$dark-orange, 0.06);
}

.draft {
  @include setColors(var(--charcoal));
  background-color: rgba(variables.$charcoal, 0.06);
}
