.calendar {
  padding: 2.6rem 1.9rem 3.1rem;
  background-color: var(--primary);
  border-radius: 0.8rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

  &_header {
    display: flex;
    justify-content: space-between;

    .current_date {
      color: var(--calendar-text);
      line-height: 1;
    }

    .icon {
      cursor: pointer;
    }
  }

  &_content {
    margin-top: 3.2rem;

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      place-items: center;
      gap: 1.6rem 1.5rem;
      list-style-type: none;
    }

    .inactive_day,
    .active_day,
    .day {
      color: var(--calendar-text);
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 700;
      letter-spacing: -0.025rem;
    }

    .day {
      cursor: pointer;
    }

    .inactive_day {
      opacity: 0.08;
    }

    .active_day {
      color: var(--accent);
    }
  }
}
