@use '../../../scss/mixins';
@use '../../../scss/variables';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--nav-background);
  z-index: 9999;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 2.4rem;
  border-right: 0.1rem solid var(--independence);
}

.right {
  padding-inline: 2.4rem;

  .logout_icon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--light-slate-gray);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--violet);
    }
  }
}

@include mixins.breakpoint('md') {
  .left {
    padding-right: 3.2rem;

    .logo {
      width: 8rem;
      height: 8rem;
    }
  }

  .right {
    padding-inline: 3.2rem;
  }
}

@include mixins.breakpoint('lg') {
  .nav {
    left: 0;
    bottom: 0;
    top: 0;
    flex-direction: column;
    max-width: variables.$horizontal-nav-width;
    border-top-right-radius: 3rem;
  }

  .left {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 3.2rem 0;
    border-right: none;
    border-bottom: 0.1rem solid var(--independence);

    .logo {
      width: 10.3rem;
      height: 10.3rem;
    }
  }

  .right {
    padding-block: 2.4rem;
  }
}
