.heading {
  color: var(--text-primary);
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

.register_form {
  margin-top: 1rem;

  button {
    margin-top: 2.4rem;
    width: 100%;
    font-weight: 400;
    border-radius: 0.6rem;
  }
}

.text {
  margin-top: 2.4rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;

  a {
    color: var(--violet);
    text-decoration: none;
    cursor: pointer;
  }
}

.error {
  margin-top: 2.4rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--fire-opal);
}
