@use '../../../scss/mixins';
@use '../../../scss/variables';

.wrapper {
  position: relative;
  max-height: 100vh;
  overflow: scroll;

  .container {
    margin-top: variables.$vertical-nav-height;
  }

  @include mixins.breakpoint('lg') {
    .container {
      margin-top: 0;
      margin-left: variables.$horizontal-nav-width;
    }
  }
}
