@use '../../../../scss/mixins';

.controls {
  display: grid;
  gap: 0.7rem;
  margin-top: 8.8rem;
  margin-left: -2.4rem;
  width: calc(100% + 4.8rem);
  padding: 2.1rem 2.4rem 2.2rem;
  background-color: var(--primary);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);

  @include mixins.breakpoint('sm') {
    margin: 0;
    width: 100%;
    padding: 4.7rem 0 3.2rem;
    background-color: transparent;
    box-shadow: none;
  }

  &_new {
    grid-template-columns: repeat(3, auto);
    justify-content: center;

    button {
      padding-inline: 1.65rem;
    }

    @include mixins.breakpoint('sm') {
      grid-template-columns: 1fr auto auto;
      justify-content: end;

      button {
        padding-inline: 2.7rem;

        &:nth-child(1) {
          justify-self: start;
        }
      }
    }
  }

  &_edit {
    grid-template-columns: repeat(2, auto);
    justify-content: end;
  }
}
