.input-field {
  display: flex;
  gap: 1.3rem;
  color: var(--text-primary);
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.025rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;

  input[type='radio'],
  input[type='checkbox'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid var(--violet);
    transform: translateY(-0.12rem);
    appearance: none;
    cursor: pointer;

    &::before {
      content: '';
      transform: scale(0);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  input[type='radio'] {
    border-radius: 50%;

    &::before {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      transition: 0.12s transform ease-in-out;
      box-shadow: inset 1rem 1rem var(--violet);
    }
  }

  input[type='checkbox'] {
    border-radius: 0.2rem;
    transition: 0.12s background-color ease-in-out;

    &::before {
      width: 1.6rem;
      height: 1.6rem;
      background-color: var(--white);
      clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
      transform-origin: bottom left;
      transition: 0.12s transform ease-in-out;
    }

    &:checked {
      background-color: var(--violet);
    }
  }
}
