@use '../../../scss/mixins';

@mixin setBackgroundColor($color, $hover-color) {
  background-color: $color;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin setTextColor($color, $hover-color) {
  color: $color;

  &:hover {
    color: $hover-color;
  }
}

.btn {
  padding: 1.8rem 2.7rem 1.5rem;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.025rem;
  font-weight: 700;
  border-radius: 2.4rem;
  border: none;
  transition: background-color 0.4s, color 0.4s;
  cursor: pointer;
}

.primary {
  @include setBackgroundColor(var(--violet), var(--violet-light));
}

.secondary {
  @include setBackgroundColor(var(--btn-secondary), var(--btn-secondary-hover));
  @include setTextColor(var(--text-secondary), var(--ube));
}

.light {
  @include setBackgroundColor(var(--ghost-white-light), var(--lavender));
  @include setTextColor(var(--ube), var(--independence));
}

.dark {
  @include setBackgroundColor(var(--charcoal), var(--btn-dark-hover));
  color: var(--btn-dark-text);
}

.danger {
  @include setBackgroundColor(var(--fire-opal), var(--american-pink));
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.6rem 1.5rem 0.6rem 0.6rem;
}

@include mixins.breakpoint('sm') {
  .icon {
    gap: 1.6rem;
    padding: 0.8rem 1.7rem 0.8rem 0.8rem;
  }
}
