@use '../../../scss/mixins';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.4rem 3.2rem;
  width: 90%;
  background-color: var(--primary);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 0.8rem;
  z-index: 1000;

  @include mixins.breakpoint('sm') {
    padding: 5.1rem 4.8rem 4.8rem;
    max-width: 48rem;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--chinese-black);
  opacity: 0.7;
  z-index: 1000;
}
