.summary {
  margin-top: 3.8rem;

  .item_list {
    display: grid;
    gap: 2.4rem;
    padding: 2.4rem;
    background-color: var(--invoice-summary);
    border-radius: 0.8rem 0.8rem 0 0;
  }

  .item,
  .amount_due {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item p[class*='secondary'] {
    margin-top: 0.8rem;
    color: var(--text-secondary);
    font-weight: 700;
  }

  .amount_due {
    padding: 2.6rem 2.4rem;
    background-color: var(--invoice-summary-total);
    border-radius: 0 0 0.8rem 0.8rem;

    p[class*='secondary'] {
      color: var(--white);
    }

    .total_amount {
      color: var(--white);
      font-size: 2.4rem;
      letter-spacing: -0.05rem;
      font-weight: 700;
      line-height: 1;
    }
  }
}
