.input_field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  img {
    position: absolute;
    top: 4rem;
    right: 1.6rem;
  }

  div {
    display: flex;
    justify-content: space-between;

    & > label {
      color: var(--text-secondary);
      font-size: 1.3rem;
      line-height: 1.15;
      letter-spacing: -0.01rem;
      font-weight: 500;
      text-transform: capitalize;
      transition: color 0.3s;
    }

    & > p {
      margin-right: 1.7rem;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: -0.021rem;
      font-weight: 600;
      color: var(--fire-opal);
      visibility: hidden;
      transition: visibility 0.3s;
    }
  }

  input {
    order: 2;
    padding: 1.8rem 2rem 1.5rem;
    background-color: var(--primary);
    width: 100%;
    color: var(--text-primary);
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    font-weight: 700;
    border: 0.1rem solid var(--input-border);
    border-radius: 0.4rem;
    outline: 0.1rem solid transparent;
    transition: outline-color 0.3s, border-color 0.3s;

    &:focus {
      outline-color: var(--accent);
    }

    &:disabled {
      background-color: transparent;
      border: none;
      color: var(--cool-grey);
    }
  }

  input:invalid[data-focused='true'] {
    border-color: var(--fire-opal);

    &:focus {
      outline-color: var(--fire-opal);
    }

    & + div {
      & > label {
        color: var(--fire-opal);
      }

      & > p {
        visibility: visible;
      }
    }
  }
}
