@use "sass:color";

$breakpoints: (
  'sm': 36em,
  'md': 48em,
  'lg': 62em,
  'xl': 75em,
  'xxl': 87.5em
);

@mixin breakpoint($name) {
  @media screen and (min-width: map-get($breakpoints, $name )) {
    @content;
  }
}

@function colorOpacity($color, $alpha) {
  @return color.scale($color, $alpha);
}
