$horizontal-nav-width: 10.4rem;
$vertical-nav-height: 8rem;

$chinese-black: #0c0e16;
$eerie-black: #141625;
$yankees-blue: #1e2139;
$yankees-blue-light: #252945;
$charcoal: #373b53;
$independence: #494e6e;
$cool-grey: #858bb2;
$light-slate-gray: #777f98;
$ube: #7e88c3;
$violet: #7c5dfa;
$violet-light: #9277ff;
$dark-orange: #ff8f00;
$fire-opal: #ec5757;
$american-pink: #ff9797;
$eucalyptus: #33d69f;
$lavender: #dfe3fa;
$ghost-white: #f8f8fb;
$ghost-white-light: #f9fafe;
$white: #ffffff;

:root {
  --chinese-black: #{$chinese-black};
  --independence: #{$independence};
  --light-slate-gray: #{$light-slate-gray};
  --cool-grey: #{$cool-grey};
  --ube: #{$ube};
  --violet: #{$violet};
  --violet-light: #{$violet-light};
  --dark-orange: #{$dark-orange};
  --fire-opal: #{$fire-opal};
  --american-pink: #{$american-pink};
  --eucalyptus: #{$eucalyptus};
  --charcoal: #{$charcoal};
  --lavender: #{$lavender};
  --ghost-white-light: #{$ghost-white-light};
  --white: #{$white};

  --primary: #{$white};
  --secondary: #{$ghost-white};
  --accent: #{$violet-light};

  --text-primary: #{$chinese-black};
  --text-secondary: #{$ube};
  --text-third: #{$cool-grey};
  --text-fourth: #{$cool-grey};

  --nav-background: #{$charcoal};
  --btn-secondary: #{$ghost-white-light};
  --btn-secondary-hover: #{$lavender};
  --btn-dark-hover: #{$chinese-black};
  --btn-dark-text: #{$cool-grey};
  --invoice-summary: #{$ghost-white-light};
  --invoice-summary-total: #{$charcoal};
  --invoice-modal: #{$white};
  --input-border: #{$lavender};
  --calendar-text: #{$chinese-black};
}

[data-theme='dark'] {
  --primary: #{$yankees-blue};
  --secondary: #{$eerie-black};
  --accent: #{$violet};

  --text-primary: #{$white};
  --text-secondary: #{$lavender};
  --text-third: #{$white};
  --text-fourth: #{$lavender};

  --nav-background: #{$yankees-blue};
  --btn-secondary: #{$yankees-blue-light};
  --btn-secondary-hover: #{$white};
  --btn-dark-hover: #{$yankees-blue};
  --btn-dark-text: #{$lavender};
  --invoice-summary: #{$yankees-blue-light};
  --invoice-summary-total: #{$chinese-black};
  --invoice-modal: #{$eerie-black};
  --input-border: #{$yankees-blue-light};
  --calendar-text: #{$lavender};
}
